---
- name: Include HTTP reachability checks
  ansible.builtin.include_tasks: http_probe.yml

- name: Include API auth + feature checks
  ansible.builtin.include_tasks: api_probe.yml
  when: sbm_scan_http_ok | default(false)

- name: Include optional OS-level probe if SSH vars exist
  ansible.builtin.include_tasks: os_probe.yml
  when: "'ansible_user' in hostvars[inventory_hostname] or 'ansible_ssh_user' in hostvars[inventory_hostname]"
